body{
	 background:blue;
}

#panel{
	background:lightblue;
	position:absolute;
	left:10%;
	top: 10%;
	margin:auto;
	text-align: center;
	width:80%;
}

#linkContainer{
	background:lightblue;
	position:relative;
	margin:auto;
	font-size:30px;
	top:50px;
	
}

#panel2{
	background:lightblue;
	position:absolute;
	left:30%;
	top: 10%;
	margin:auto;
	text-align: center;
	width:40%;
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 10px;
}

.categories {
	margin-right:15px;
	width:100px;
	height:100px;
}

.stuff {
	width:250px;
	font-size:20px;
	margin-bottom: 50px
}

.aligning {
	text-align:left;
	position:relative;
	left:20px;
}

#userPhoto {
	width:300px;
}

